$background-color: #fafafa;
$border-color: #EAF6FF;
$border-color-focused: #208eff;
$input-color: #5E6263;
$font-family: Roboto, sans-serif;

.input {
  padding: 10px 18px;
  font-family: $font-family;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: $input-color;
  border: none;
  outline: none;
}

.inputLeftAddon {
  padding: 10px 1px;

}

.inputContainer {
  display: flex;
  align-items: center;
  border: 1px solid $border-color;
  transition: 200ms;
}

.inputContainerFocused {
  border: 1px solid $border-color-focused;
  transition: 200ms;
}

.inputDisabled {
  background-color: $background-color;
}

.inputLeftAddonIcon {
  border-right: none;
  padding: 10px 16px;
}

.inputLeftAddonIconDisabled {
  background-color: $background-color;
}

.rightAddon {
  border-right: none;
  padding: 0 16px;
}
