@import "src/styles/breakpoints";

$border-color: #F3F4F5;

.container {
  display: grid;
  padding-top: 5em;
  grid-gap: 36px;
  grid-template-columns: 1fr 3fr;
  height: 100vh;

  @media (max-width: $bpMobile) {
    padding-top: 2em;
    grid-template-columns: 1fr;
  }

  .filterPanel {
    border-top: 1px solid $border-color;
    .filterPanelInner {
      margin-top: 20px;
      position: sticky;
      top: 20px;
    }

    @media (max-width: $bpMobile) {
      display: none;
    }
  }

  .contentPanel {

    .mobileFilters {
      position: relative;
      z-index: 999;

      .titleContainer {
        display: flex;
        justify-content: space-between;
      }

      .mobileFiltersInner {
        max-height: 0;
        overflow: hidden;
        transition: 200ms;
      }

      .iconRotated {
        transform: rotate(0.5turn);
        transition: 200ms;
      }

      .mobileFiltersInnerOpen {
        max-height: 193px;
        transition: 200ms;
      }

    }

    .realEstateListItemContainer {

      width: 88%;

      @media (max-width: $bpLaptopS) {
        width: 100%;
      }

      h3 {
        font-family: Poppins, sans-serif;
        text-align: center;
      }

      .realEstateListItemWrapper {
        padding: 10px 0;
        border-bottom: 1px solid $border-color;
      }
    }

    .pagination {
      width: fit-content;
      margin: 30px auto;
    }

  }


}