.button {
  background-color: #EC7F07;
  border: none;
  padding: 10px 12px;
  border-radius: 4px;
  align-items: center;
  font-family: 'Roboto', serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  height: 44px;
  cursor: pointer;
  transition: 200ms;
}

.button:hover {
  background-color: #ff9726;
  transition: 200ms;
}

.button:active {
  background-color: #cc7419;
  transition: 200ms;
}

.button:disabled {
  background-color: #E0E0E0;
  cursor: not-allowed;
  transition: 200ms;
}

.buttonLoading {
  padding: 3px;
  animation: spin 800ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
  }
}