@import 'src/styles/breakpoints';

$loading-background-color: #f2f2f2;
$shaded-color: #5E6263;

.container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 260px 2fr;
  min-height: 160px;

  @media (max-width: $bpMobile) {
    grid-template-columns: unset;
    grid-template-rows: 2fr 1fr;
  }


  .imageContainer {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: $loading-background-color;
  }

  .detailsContainer {
    width: 100%;
    height: 100%;

    .title {
      font-family: Poppins, sans-serif;
      font-size: 16px;
      line-height: 150%;
      font-weight: 600;
    }

    .location {
      display: flex;
      align-items: center;

      margin-top: 12px;

      > svg {
        width: 15px;
        height: 15px;
        margin-right: 10px;
      }

      font-family: Roboto, sans-serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
      letter-spacing: 0.02em;
      color: $shaded-color;
    }

    .realEstateStats {

      margin-top: 10px;

      > ul {
        color: $shaded-color;
        font-family: Roboto, sans-serif;
        font-size: 14px;
        line-height: 150%;
        letter-spacing: 0.02em;

        > li {
          display: inline;
          margin-right: 8px;
        }


        ::after {
          margin-left: 8px;
          content: "•";
        }

        :last-child::after {
          content: unset;
        }
      }
    }

    .price {
      margin-top: 15px;
      font-family: Roboto, sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: 0.02em;
    }
  }
}


.isLoading, .isLoadingShort {
  background-color: $loading-background-color;
  width: 100%;
  height: 24px
}

.isLoadingShort {
  background-color: $loading-background-color;
  width: 200px;
  height: 24px
}